---
import Container from "../container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "@astrojs/image/components";
import logo from "assets/logo.png";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  {
    title: "Tech Blog",
    path: "/",
  },
  {
    title: "Personal Site",
    path: "https://kedonaldson.com/",
  }
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <Picture
                    src={logo}
                    alt={"Stackwi.se Logo"}
                    sizes="20px"
                    widths={[20]}
                    loading="eager"
                    format="avif"
                  />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-[#4fd6ec]" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class={`flex
                              lg:px-3
                              py-2` + ((index + 1) % 2 == 0 ? " text-[#ed7762] hover:text-[#c82c8d]" :
                              " text-[#c82c8d] hover:text-[#ed7762]")}>
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
